// Place all the styles related to the public/bookshelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around
}
