// Place all the styles related to the public/bookshelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.book-shelf{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:center;
}

.book-shelf div{
  width: 33%;
}

.book-shelf:only-child {
  width: 100%;
}
