// Place all the styles related to the public/revieews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hoshi{
  width: 130px;
  padding: 0;
  margin-left: -56px;
}