<div class="container">
  <div class="row">
    <h1>Book-Reviewsへようこそ!</h1>
    <h4>このサイトでは、簡単、手軽にレビューの投稿、閲覧が可能です</h4>
  </div>
  <div class="row">
    <span><%= link_to"アカウントをお持ちの方はこちら",  new_user_session_path %></span>
    <span><%= link_to"Book-Reviewsのアカウントを作成", new_user_registration_path %></span>
    <span>ゲストログイン</span>
  </div>
</div>

