<div class="container">
  <div class="row">
    <h1>Book-Reviewsへようこそ!</h1>
    <h4>このサイトでは、簡単、手軽にレビューの投稿、閲覧が可能です</h4>
  </div>
  <div class="row">
    <span>アカウントをお持ちの方はこちら</span>
    <span>Book-Reviewsのアカウントを作成</span>
    <span>ゲストログイン</span>
    <%=# link_to"開発中"%>
  </div>
</div>

