
<div class="container">
  <div class="row">
    <table>
      <% books.each do |will_read| %>
      <tr>
        <td><%= will_read.book_title %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>