<div class="container">
  <%= render "public/books/search" %>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th width="10%">画像</th>
          <th width="30%">タイトル</th>
          <th width="20%">著者</th>
          <th width="10%">平均評価</th>
          <th width="10%">気になる本登録</th>
        </tr>
      </thead>
      <tbody>
        <% if @books.present? %>
          <% @books.each do |book| %>
            <tr>
              <td><img src="<%=book. large_image_url %>"></td>
              <td><%= link_to book.title %></td>
              <td><%= book.author %></td>
              <td>サンプル</td>
              <td>サンプル</td>
            </tr>
          <% end %>
        <% else %>
          <p>検索結果がみつかりませんでした。</p>
        <% end %>
      </tbody>
    </table>
  </div>
</div>