<div class="container">
  <div class="row">
    <div>
      <table>
        <tr>
          <td>画像</td>
          <td>タイトル</td>
          <td>作者</td>
          <td>平均評価</td>
          <td>気になる本登録</td>
        </tr>
      </table>
    </div>
  </div>
</div>