<div class="container">
  <div>フォロワーユーザー一覧</div>
  <table class="follow">
    <% @follow.each do |follow| %>
    <tr>
      <td><%= link_to follow.name, public_user_path(follow), class:"text-dark btn btn-outline-secondary" %></td>
    </tr>
    <% end %>
  </table>
</div>